<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="width: 60%;text-align: center">
    <thead>
    <tr>
        <td>id</td>
        <td>流程名称</td>
        <td>发布时间</td>
        <td>操作</td>
    </tr>

    </thead>

    <tbody>
       <tr>
           <td>1</td>
           <td>1</td>
           <td>1</td>
           <td>
               <a href="">删除</a>
               <a href="">查看流程图</a>
           </td>
       </tr>
    </tbody>
</table>

<br/><br/><br/><br/><br/>
<div>
    <h1>部署流程</h1>
    流程名称：<input type="text"/><br/>
    流程文件：<input type="file"/><br/>
    <button>上传</button>
</div>

</body>
</html>